.minitem{

    &.head{
        img{
            display: block;
            margin: auto;
        }
    }

    &.chest{
        border: 1px solid black;
        img{
            display: block;
            margin: auto;
            
        }
    }

    &.rightarm{
        img{
            float: right;
        }
    }

    &.rightleg{
        img{
            float: right;
        }
    }
}