.item.header, .item.rightletters, .item.alphabet, .item.wrongletters {
  text-align: center;
  font-variant: small-caps;
  font-family: Arial, Helvetica, sans-serif;
}

.item.header {
  font-size: 3rem;
  padding-bottom: 20px;
}

.item.alphabet details {
  color: white;
  background-color: #00aafd;
  display: block;
  width: 90%;
  margin: auto;
  padding: 10px;
}

.item.rightletters span {
  display: block;
}

.item.wrongletters {
  background-color: #ff8cf5;
  color: white;
  font-size: 1.5rem;
  border-radius: 5px;
}

.item.wrongletters .boxcentered.header h4 {
  border-bottom: 1px solid white;
  padding-bottom: 15px;
  width: 80%;
  margin: auto;
}

.minitem.head img {
  display: block;
  margin: auto;
}

.minitem.chest {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.minitem.chest img {
  display: block;
  margin: auto;
  width: 50%;
  height: auto;
}

.minitem.rightarm img {
  float: right;
}

.minitem.rightleg img {
  float: right;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

#main-container {
  width: 70%;
  padding-top: 5vh;
  margin: auto;
}

.createspace {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 60%;
  margin: auto;
}

img {
  width: 100%;
  height: auto;
}

#right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#right-box span {
  margin: 3px;
  border-bottom: 2px solid black;
}

#right-box .fruit-letter {
  visibility: hidden;
}

#wrong-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}

#wrong-box p {
  margin: 10px;
}

.letter {
  background-color: #175d69;
  color: white;
  padding: 3px;
  margin: 3px;
  border: none;
  font-size: 1em;
  width: 35px;
}

.letter:hover {
  background-color: #17bfc5;
}

[data-hangman] {
  visibility: hidden;
}

#startscreen {
  background-color: rgba(0, 255, 221, 0.349);
  z-index: 2;
  position: relative;
}

#startcontent {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#startbutton {
  background-color: #ff6ebe;
  color: white;
  border: none;
  padding: 10px;
}

#startbutton:hover {
  background-color: #ca62f3;
  color: black;
}

@media screen and (min-width: 800px) {
  small {
    font-size: small;
  }
  #startmessage, #startbutton {
    font-size: 2em;
  }
  #hangman-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  #hangman-container .item.header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/ span 1;
  }
  #hangman-container .item.header small {
    color: #ff00aa;
  }
  #hangman-container .item.wrongletters {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/ span 2;
    margin-top: 20px;
    padding: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 4fr;
        grid-template-rows: 1fr 4fr;
  }
  #hangman-container .item.rightletters, #hangman-container .item.alphabet {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/ span 2;
    font-size: 2rem;
  }
  #hangman-container .item.rightletters span {
    padding: 20px;
  }
}

@media screen and (max-width: 800px) {
  #startmessage, #startbutton {
    font-size: 1.5em;
  }
  #hangman-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .createspace {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .item.rightletters, .item.alphabet {
    font-size: 1em;
  }
  .item.rightletters span {
    padding: 10px;
  }
  .item.wrongletters {
    margin-top: 5px;
    padding: 10px;
  }
}
/*# sourceMappingURL=style.css.map */