@import "items";
@import "minitems";
@import "variables";

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
}

#main-container{
    width: 70%;
    padding-top: 5vh;
    margin: auto;
}

.createspace {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60%;
    margin: auto;
}

img{
    width: 100%;;
    height: auto;
}

#right-box{
    display: flex;
    flex-direction: row;
    justify-content:center;
    span{
        margin: 3px;
        border-bottom: 2px solid black;
    }

    .fruit-letter{
        visibility: hidden;
    }
}

#wrong-box{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;

    p{
        margin: 10px;
    }
}

.letter{
    background-color: #175d69;
    color: white;
    padding: 3px;
    margin: 3px;
    border: none;
    font-size: 1em;
    width: 35px;

    &:hover{
        background-color: #17bfc5;
    }
}

[data-hangman]{
    visibility: hidden;
}



#startscreen{
    background-color: #EFD4F7;
    z-index: 2;
    position: relative;
}

#startcontent{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#startbutton{
    background-color: #FE2712;
    color: white;
    border: none;
    padding: 10px;
    &:hover{
        background-color: rgb(202, 98, 243);
        color: black;
    }
}

#startmessage{
    text-align: center;
}

small{
    font-size: small;
}

@media screen and (min-width: 800px){

    #startmessage, #startbutton{
        font-size: 2em;
    }

    #hangman-container{
        display: grid;
        grid-template-columns: 2fr 1fr;

        .item{
            &.header{
                grid-column: 1/ span 1;
            }
        
            &.wrongletters{
                grid-column: 2;
                grid-row: 1/ span 2;
                margin-top: 20px;
                padding: 20px;
                display: grid;
                grid-template-rows: 1fr 4fr;
        
            }
        
            &.rightletters, &.alphabet{
                grid-column: 1/ span 2;
                font-size: 2rem;
            }

            &.rightletters{
                span{
                    padding: 20px;
                }
            }
        }
    }

}

@media screen and (max-width: 800px){

    #startmessage, #startbutton{
        font-size: 1.5em;
    }

    #hangman-container{
        display: grid;
        grid-template-columns: 100%;
    }

    .createspace{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .item{
        &.rightletters, &.alphabet{
            font-size: 1em;
        }

        &.rightletters{
            span{
                padding: 10px;
            }
        }

        &.wrongletters{
            margin-top: 5px;
            padding: 10px;
        }
    }

}